{% extends 'layout.html.twig' %}
{% block title %}Édition du profil{% endblock %}
{% block stylesheet %}
    {% include 'Profile/style.html.twig' %}
{% endblock %}

{% block content %}
    <h1 class="h1_center">Modifie ton profil</h1>

        <form method="post" class="edit_profil" enctype="multipart/form-data">
            <hr/>
            <div class="profilPic avatar_size">
                <div class="overlay-image" onclick="document.getElementById('avatar').click()">
                    <a href="" ><img class="image" src="{{ session.avatar }}" alt="image de profil par défaut" id="profilPic" /></a>
                    <div class="hover">
                        <img class="image" src="{{ session.avatar }}" alt="image de profil par défaut" id="profilPicHover"/>
                        <div class="fas fa-camera-retro text"></div>
                        <div class="text2">Changer de photo</div>
                        <input type="hidden" name="MAX_FILE_SIZE" value="0" />
                    </div>
                </div>
            </div>
            <div style="display: none">
                <input type="file" name="fichier" id="avatar" onchange="readURL(this);"/>
            </div>
            <hr/>
            <div class="form-group input_center">
                <div class="col-md-6">
                    {% if errors.login != "" %}
                        <h5 class="h6 text-danger">{{ errors.login }}</h5>
                    {% endif %}
                    <label for="login">Pseudo</label><br/>
                    <input class="form-control" type="text" id="login"  name="login" value="{{ session.login }}" required>
                </div>
            </div>
            <div class="form-group input_center">
                <div class="col-md-6">
                    <label for="firstname">Prénom</label><br/>
                    <input class="form-control" type="text" id="firstname"  name="firstname" value="{{ session.firstname }}" required>
                </div>
            </div>
            <div class="form-group input_center">
                <div class="col-md-6">
                    <label for="lastname">Nom</label><br/>
                    <input class="form-control" type="text" id="lastname"  name="lastname" value="{{ session.lastname }}" required>
                </div>
            </div>
            <div class="form-group col-md-12">
                {% if errors.email != "" %}
                    <h5 class="h6 text-danger">{{ errors.email }}</h5>
                {% endif %}
                <label for="email">Votre e-mail</label><br/>
                <input class="form-control" type="email" id="inputEmail" name="email" value="{{ session.email }}" required>
            </div>
            <div class="form-group col-md-12">
                <label for="emailConf">Confirmez votre e-mail</label><br/>
                <input class="form-control" type="email" id="inputEmailConf"  name="emailConf" value="{{ session.email }}" required>
            </div>
            <hr>
            <div class="form-group input_center">
                <div class="col-md-6">
                    {% if errors.password != "" %}
                        <h5 class="h6 text-danger">{{ errors.password }}</h5>
                    {% endif %}
                    <label for="password">Saississez votre nouveau mot de passe<br/><i style="font-size: 0.8em">(8 caractères minimum dont 1 majuscule et 1 chiffre)</i></label><br/>
                    <input class="form-control" type="password" id="password"  name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="nouveau mot de passe">
                    <input class="form-control mt-2" type="password" id="passwordConf"  name="passwordConf" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Confirmez votre mot de passe">
                </div>
            </div>
            <hr>
            <div class="col-md-12 form-group">
                {% if errors.adresse_1 != "" %}
                    <h5 class="h6 text-danger">{{ errors.adresse_1 }}</h5>
                {% endif %}
                <label for="adresse_1">Adresse</label><br/>
                <input class="form-control" type="text" id="adresse_1" name="adresse_1" value="{{ session.adresse_1 }}" required  />
            </div>
            <div class="col-md-12 form-group">
                <label for="adresse_2">Adresse complément <i>(optionnel)</i></label><br/>
                <input class="form-control" type="text" id="adresse_2" name="adresse_2" value="{{ session.adresse_2 }}"/>
            </div>
            <hr>
            <!-- Grid row -->
            <div class="form-group input_center">
                <div class="form-group col-md-6">
                    <label for="phone">Téléphone <i>(fixe ou portable)</i></label>
                    <input type="text" class="form-control" id="phone" value="{{ session.phone }}" name="phone">
                </div>
                <fieldset>
                    <div class="mt-4">Vos Compétences</div>
                    <div class="row justify-content-around">
                        {% for cat in category %}
                            {% if cat.name == 'bricolage' %}
                            <div class="edit_arround">
                                <input type="checkbox" id="{{ cat.name }}" name="{{ cat.name }}" {% if session.bricolage == '1' %}checked{% endif %}>
                                <label for="{{ cat.name }}">{{ cat.name | capitalize}}</label>
                            </div>
                            {% endif %}
                            {% if cat.name == 'cuisine' %}
                                <div class="edit_arround">
                                    <input type="checkbox" id="{{ cat.name }}" name="{{ cat.name }}" {% if session.cuisine == '1' %}checked{% endif %}>
                                    <label for="{{ cat.name }}">{{ cat.name | capitalize}}</label>
                                </div>
                            {% endif %}
                            {% if cat.name == 'éducation' %}
                                <div class="edit_arround">
                                    <input type="checkbox" id="{{ cat.name }}" name="{{ cat.name }}" {% if session.éducation == '1' %}checked{% endif %}>
                                    <label for="{{ cat.name }}">{{ cat.name | capitalize}}</label>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </fieldset>
                <div class="form-group col-md-6">
                    <label for="description">Présentation</label>
                    <textarea class="form-control" id="description" name="description" rows="5">{{ session.description }}</textarea>
                </div>
            </div>
            <!-- Grid row -->
            <button type="submit" class="btn btn-primary btn-md edit_submit">Modifier</button>
            <a class="btn btn-primary btn-md edit_submit" href="/profile/myprofile">Retour</a>
        </form>
{% endblock %}

