{% extends 'layout.html.twig' %}

{% block stylesheet %}
{% include 'Profile/style.html.twig' %}
{% endblock %}

{% block content %}

    <div>
            <div class="container emp-profile">
                <form method="post">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="profile-img">
                                <img src="{{ myprofile.avatar }}" alt=""/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="profile-head">
                                <h5>
                                    Mon profil
                                </h5>
                                <h6>
                                    {{ skills.membre }}
                                </h6>
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">À propos</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#annonces" role="tab" aria-controls="annonces" aria-selected="false">Mes annonces</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#connaissances" role="tab" aria-controls="connaissances" aria-selected="false">Mes connaissances</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="font-icon-example justify-content-around">
                            <div class="item home text-black"><a href="/profile/edit" ><i class="fas fa-user-edit text-blue"></i><span>Edit profil</span></a></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="profile-work">
                                <p class="Skill">Compétences</p>
                                    <p>{{ myskills.0 }}</p>
                                    <p>{{ myskills.1 }}</p>
                                    <p>{{ myskills.2 }}</p>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="tab-content profile-tab" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Pseudo</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ myprofile.login }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Nom</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ myprofile.firstname }} {{ myprofile.lastname }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Email</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ myprofile.email }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Numéro de téléphone</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ myprofile.phone }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Adresse</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ myprofile.adresse_1 }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Complément d'adresse</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ myprofile.adresse_2 }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Présentation</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ myprofile.description | raw }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="annonces" role="tabpanel" aria-labelledby="profile-tab">
                                    <table id="myTable" class="display" style="width:100%; background: whitesmoke">
                                        <thead>
                                        <tr>
                                            <th>Titre</th>
                                            <th>Date</th>
                                            <th>Heure de début</th>
                                            <th>Heure de fin</th>
                                        </tr>
                                        </thead>
                                        <tbody style="background: #7597ff">

                                        {% for searchid in search %}
                                            {% if  myprofile.id == searchid.id %}
                                                <tr class="table-primary">
                                                    <td style="background: whitesmoke"><a href="/Search/Posts/{{ searchid.post_id }}" class="badge badge-warning"> {{ searchid.title }}</a></td>
                                                    <td style="background: whitesmoke">{{ searchid.start_day }}</td>
                                                    <td style="background: whitesmoke">{{ searchid.start_hour }}</td>
                                                    <td style="background: whitesmoke">{{ searchid.end_hour }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="connaissances" role="tabpanel" aria-labelledby="profile-tab">
                                    <ul class="playerWall detailed">
                                        {% for user in otherprofile %}
                                            {% for myfriend in friend %}
                                                  {% if user.id == myfriend.id_friend %}
                                                      <li><a href="/profile/profile/{{ user.id }}"><img src="{{ user.avatar }}"/> <div class="playerInfo"><div class="username">{{ user.login }}</div><div class="game">
                                                                      {% if user.éducation == 'Éducation' %}
                                                                        {{ user.éducation }}
                                                                      {% endif %}
                                                                      {% if user.cuisine == 'Cuisine' %}
                                                                        {{ user.cuisine }}
                                                                      {% endif %}
                                                                      {% if user.bricolage == 'Bricolage' %}
                                                                        {{ user.bricolage }}
                                                                      {% endif %}
                                                                          </div></div></a></li>
                                                  {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
    </div>


{% endblock %}
{% block javascript %}
<script>
$(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>
{% endblock %}


