{% extends 'layout.html.twig' %}

{% block title %}
    Bienvenue sur Stras'Help
{% endblock %}

{% block content %}
    <h1 class=" text-center">Bienvenue {{ firstname }}</h1>
    <h2 class="col-4">Vos Rendez-vous</h2>
    <table class="col-4 table table-striped">
        <thead class="thead-dark">
        <tr>
            <td>Type</td>
            <td>Catégorie</td>
            <td>Date</td>
            <td>Heure début</td>
            <td>Heure heure fin</td>
            <td>Titre</td>
            <td>Combien de personnes ont répondu</td>
        </tr>
        </thead>
        <tbody>
        {% for rdv in rendezVous  %}
            <tr>
                <td>
                    {% if rdv.type == 0 %}
                        Offre
                    {% else %}
                        Demande
                    {% endif %}
                </td>
                <td>{{ rdv.cat | capitalize }}</td>
                <td>{{ rdv.start_hour|date("d/m/Y") }}</td>
                <td>{{ rdv.start_hour|date('H:i') }}</td>
                <td>{{ rdv.end_hour|date('H:i') }}</td>
                <td>{{ rdv.title }}</td>
                <td>{{ rdv.reponse }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2 class="col-4">Ils ont besoin de vous</h2>
    <table border="1">
        <thead class="thead-dark">
        <tr>
            <td>Qui</td>
            <td>Catégorie</td>
            <td>Quel jour</td>
            <td>À quelle heure</td>
            <td>Jusqu'à</td>
            <td>Titre</td>
            <td>Combien de personnes</td>
            <td>Réponses</td>
        </tr>
        </thead>
        <tbody>
        {% for need in ilsOntBesoin  %}
            <tr>
                <td>{{ need.user }}</td>
                <td>{{ need.category }}</td>
                <td>{{ need.start_hour|date("d/m/Y") }}</td>
                <td>{{ need.start_hour|date('H:i:s') }}</td>
                <td>{{ need.end_hour|date('H:i:s') }}</td>
                <td>{{ need.title }}</td>
                <td>{{ need.nbmin }} - {{ need.nbmax }}</td>
                <td>{% if need.reponses == 0 %}
                        0 / {{ need.nbmax }}
                    {% else %}
                        {{ need.reponse }} / {{ need.nbmax }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2 class="col-4"><a href="/Search/search">Dernières Annonces</a></h2>
    <table border="1">
        <thead class="thead-dark">
        <tr>
            <td>Type</td>
            <td>Qui</td>
            <td>Catégorie</td>
            <td>Quel jour</td>
            <td>À quelle heure</td>
            <td>Jusqu'à</td>
            <td>Titre</td>
            <td>Combien de personnes</td>
            <td>Nb de réponses</td>
        </tr>
        </thead>
        <tbody>
        {% for dernieresAnnonce in dernieresAnnonces  %}
            <tr>
                <td>
                    {% if dernieresAnnonce.type == 0 %}
                        Offre
                    {% else %}
                        Demande
                    {% endif %}
                </td>
                <td>{{ dernieresAnnonce.user }}</td>
                <td>{{ dernieresAnnonce.category }}</td>
                <td>{{ dernieresAnnonce.start_hour|date("d/m/Y") }}</td>
                <td>{{ dernieresAnnonce.start_hour|date('H:i:s') }}</td>
                <td>{{ dernieresAnnonce.end_hour|date('H:i:s') }}</td>
                <td>{{ dernieresAnnonce.title }}</td>
                <td>{{ dernieresAnnonce.nbmin }} - {{ dernieresAnnonce.nbmax }}</td>
                <td>{{ dernieresAnnonce.reponse }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2 class="col-4">Top Actus</h2>
    <h2 class="col-4">Top Helpers</h2>
    <h3>Bricolage</h3>
    <h3>Cuisine</h3>
    <h3>Éducation</h3>

{% endblock %}
