{% extends 'layout.html.twig' %}

{% block title %}
    Bienvenue sur Stras'Help
{% endblock %}

{% block content %}
    <h1 class=" text-center">Bienvenue {{ firstname }}</h1>
    <h2 class="col-4">Vos Rendez-vous</h2>
    <table class="col-4 table table-striped">
        <thead class="thead-dark">
        <tr>
            <td>Type</td>
            <td>Catégorie</td>
            <td>Date</td>
            <td>Heure début</td>
            <td>Heure heure fin</td>
            <td>Titre</td>
            <td>Combien de personnes ont répondu</td>
        </tr>
        </thead>
        <tbody>
        {% for rdv in rendezVous  %}
            <tr>
                <td>
                    {% if rdv.type == 0 %}
                        Offre
                    {% else %}
                        Demande
                    {% endif %}
                </td>
                <td>{{ rdv.cat | capitalize }}</td>
                <td>{{ rdv.start_hour|date("d/m/Y") }}</td>
                <td>{{ rdv.start_hour|date('H:i') }}</td>
                <td>{{ rdv.end_hour|date('H:i') }}</td>
                <td>{{ rdv.title }}</td>
                <td>{{ rdv.reponse }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2 class="col-12 text-center my-4"><a href="/home/theyNeedYou">Ils ont besoin de vous</a></h2>

    <div class="container row justify-content-around col-12 text-white m-0">
    {% for need in ilsOntBesoin  %}
    {% if need.category == 'bricolage' %}
    <div class="card col-12 col-md-3 bricolage my-1" id="/Search/posts/{{ need.id_post }}">
    {% elseif need.category == 'cuisine' %}
    <div class="card col-12 col-md-3 cuisine my-1" id="/Search/posts/{{ need.id_post }}">
    {% else %}
    <div class="card col-12 col-md-3 education my-1" id="/Search/posts/{{ need.id_post }}">
    {% endif %}
            <div class="card-body">
                <div class="row align-items-baseline justify-left">
                    <h1>{{ need.start_hour|date("d/m") }}<h6>/{{ need.start_hour|date("Y") }}</h6></h1>
                </div>
                <span>{{ need.start_hour|date("H:i") }} ~ {{ need.end_hour|date("H:i") }}<br/>
            <span>{{ need.user }}<br/>
            Catégorie<br/>
            réponses/nbax</span>

            </div>
        </div>
        {% endfor %}
    </div>
    <div class="container">
        &nbsp;
    </div>


    <h2 class="col-4"><a href="/Search/search">Dernières Annonces</a></h2>
    <table class="col-4 table table-striped">
        <thead class="thead-dark">
        <tr>
            <td>Type</td>
            <td>Qui</td>
            <td>Catégorie</td>
            <td>Quel jour</td>
            <td>À quelle heure</td>
            <td>Jusqu'à</td>
            <td>Titre</td>
            <td>Combien de personnes</td>
            <td>Nb de réponses</td>
        </tr>
        </thead>
        <tbody>
        {% for dernieresAnnonce in dernieresAnnonces  %}
            <tr>
                <td>
                    {% if dernieresAnnonce.type == 0 %}
                        Offre
                    {% else %}
                        Demande
                    {% endif %}
                </td>
                <td>{{ dernieresAnnonce.user }}</td>
                <td>{{ dernieresAnnonce.category }}</td>
                <td>{{ dernieresAnnonce.start_hour|date("d/m/Y") }}</td>
                <td>{{ dernieresAnnonce.start_hour|date('H:i:s') }}</td>
                <td>{{ dernieresAnnonce.end_hour|date('H:i:s') }}</td>
                <td>{{ dernieresAnnonce.title }}</td>
                <td>{{ dernieresAnnonce.nbmin }} - {{ dernieresAnnonce.nbmax }}</td>
                <td>{{ dernieresAnnonce.reponse }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2 class="col-4">Top Actus</h2>
    <h2 class="col-4">Top Helpers</h2>
    <h3>Bricolage</h3>
    <h3>Cuisine</h3>
    <h3>Éducation</h3>
{% endblock %}