{% extends 'layout.html.twig' %}

{% block title %}
    Bienvenue sur Stras'Help
{% endblock %}

{% block content %}
    <h2 class="col-4">Ils ont besoin de vous</h2>
    <table class="col-4 table table-striped">
        <thead class="thead-dark">
        <tr>
            <td>Qui</td>
            <td>Catégorie</td>
            <td>Quel jour</td>
            <td>À quelle heure</td>
            <td>Jusqu'à</td>
            <td>Titre</td>
            <td>Combien de personnes</td>
            <td>Réponses</td>
        </tr>
        </thead>
        <tbody>
        {% for need in ilsOntBesoin  %}
            <tr>
                <td>{{ need.user }}</td>
                <td>{{ need.category }}</td>
                <td>{{ need.start_hour|date("d/m/Y") }}</td>
                <td>{{ need.start_hour|date('H:i:s') }}</td>
                <td>{{ need.end_hour|date('H:i:s') }}</td>
                <td>{{ need.title }}</td>
                <td>{{ need.nbmin }} - {{ need.nbmax }}</td>
                <td>{% if need.reponses == 0 %}
                        0 / {{ need.nbmax }}
                    {% else %}
                        {{ need.reponse }} / {{ need.nbmax }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
