{% extends 'layout.html.twig' %}

{% block title %}
    Bienvenue sur Stras'Help
{% endblock %}

{% block content %}
    <h2 class="col-12 text-center my-4"><a href="/home/theyNeedYou">Ils ont besoin de vous</a></h2>
    <div class="container row {{alignement}} col-12 text-white m-0">
    {% for need in ilsOntBesoin  %}
    {% if need.category == 'bricolage' %}
    <div class="card col-12 col-md-3 my-1 bricolage border-white" onclick="window.location.replace('/Search/posts/{{ need.id_post }}')">
        {% elseif need.category == 'cuisine' %}
        <div class="card col-12 col-md-3 my-1 cuisine border-white" onclick="window.location.replace('/Search/posts/{{ need.id_post }}')">
            {% else %}
            <div class="card col-12 col-md-3 my-1 education border-white" onclick="window.location.replace('/Search/posts/{{ need.id_post }}')">
                {% endif %}
                <div class="card-body">
                    <div class="column justify-left">
                        <div>
                            <i>{{need.category | capitalize}}</i>
                        </div>
                        <div class="align-items-baseline">
                            <h1>{{ need.start_hour|date("d/m") }}</h1><h6   >{{ need.start_hour|date("Y") }}</h6>
                        </div>
                    </div>

                    <div class="text-right">
                        <h4>{{ need.start_hour|date("H:i") }} ~ {{ need.end_hour|date("H:i") }}<br/></h4>
                        <span>{{ need.user }}<br/>
                        {{need.reponse}}/{{need.nbmax}} personnes</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="container">
            &nbsp;
        </div>
{% endblock %}