{% extends 'layout.html.twig' %}

{% block content %}
        <div class="card col-12 col-md-6 offset-md-3 my-4">
                <h1 class="card-header info-color white-text text-center py-4">Créer une annonce</h1>
            <div class="card-body px-lg-5 pt-0">
                <form class="md-form" method="post">
                    <div>
                        <div class="mt-2">
                            <label for="name">Titre de l'annonce*</label>
                                <input class="form-control" type="text" autocomplete="off" required="" value="{{ post.title }}" placeholder="Nom de l'annonce" name="title">
                            </div>
                        </div>
                    </div>

                    <div>
                        <div>
                            <div class="mt-2">
                                <fieldset>
                                    <legend>Quel type d'annonce souhaitez vous poster</legend>
                                    <div class="form-check mb-4">
                                        <input type="radio" id="customRadio1" class="form-check-input" name="type" value="0" checked="">
                                        <label class="form-check-label" for="customRadio1">Offre</label>
                                    </div>
                                    <div class="form-check mb-4">
                                        <input type="radio" id="customRadio2" class="form-check-input" name="type" value="1">
                                        <label class="form-check-label" for="customRadio2">Demande</label>
                                    </div>
                                </fieldset>

                            <div class="mt-2">
                                <label>Type d'annonce</label>
                                <select name="id_category" class="custom-select mdb-select" id="id_category">
                                    {% for cnameid in cname %}
                                        <option value="{{ cnameid.id }}">{{ cnameid.name | capitalize}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            </div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div>
                            <label for="Date">Date</label>
                            <div>
                                <input class="form-control datepicker" type="date" autocomplete="off" name="date_publication" value="{{ post.date_publication }}">
                            </div>
                        </div>
                    </div>
                    <div class="mt-2 row justify-content-around">
                        <div  class="md-form">
                            <label>Horaire de début</label>
                            <div>
                                <input class="form-control datepicker text-center" type="time" autocomplete="off" name="start_hour" required value="{{ post.start_hour }}">
                            </div>
                        </div>
                        <div class="md-form">
                            <label>Horaire de fin</label>
                            <div>
                                <input class="form-control datepicker text-center" type="time" autocomplete="off" name="end_hour" required value="{{ post.end_hour }}">
                            </div>
                        </div>
                    </div>
                    <div class="mt-2 row justify-content-around">
                        <div class="md-form">
                            <label>Nombre de personne minimum</label>
                            <input class="form-control text-center" type="number" pattern="[0-9]" name="nbmin" value="{{ post.nbmin }}" placeholder="Facultatif">
                        </div>
                        <div class="md-form">
                            <label>Nombre de personne maximum</label>
                            <input class="form-control text-center" type="number" pattern="[0-9]" name="nbmax"  required value="{{ post.nbmax }}">
                        </div>
                    </div>
                    <div class="mt-2">
                        <div>
                            <label for="text_annoucement">Descriptif de votre annonce *</label>
                            <div>
                                <i class="icon ion-android-create align-self-center"></i>
                                <textarea id="editor" name="text_annoucement">{{ post.text_annoucement }}</textarea>
                            </div>
                        </div>
                    </div>
                        <div>
                            <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Ajouter votre annonce</button>
                        </div>
            </form>
            </div>
        </div>
{% endblock %}
{% block javascript %}
<script>
ClassicEditor
    .create( document.querySelector( '#editor' ), {
        toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ],
        heading: {
            options: [
                { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' }
            ]
        }
    } )
    .catch( error => {
        console.log( error );
    } );
</script>
{% endblock %}