{% extends 'layout.html.twig' %}

{% block content %}
    <div class="card text-center row-2">
        <div class="card-header row justify-content-center">
            <div class="">
            <h4 class="card-title">{{ item.title }}
                <small>
                    proposé par :
                    <a href="/profile/profile/{{ item.id }}">{{ item.login }}</a>
                </small>
            </h4>
            <h5 class="card-title">Le {{ item.start_day }} de {{ item.start_hour }} à {{ item.end_hour }}</h5>
            </div>
            <div class="font-icon-example offset-3">
                <div class="item">
                    <a href="/signal/signalpost/{{ item.id }}">
                        <i class="fas fa-exclamation text-danger"></i><span>Signaler</span></a>
                </div>
                {% if session['Auth'].admin == 1 %}
                <div class="item">
                    <a href="/Search/editPost/{{ item.id }}">
                        <i class="fas fa-edit text-primary"></i><span>Editer</span></a>
                </div>
                <div class="item">
                    <a href="/Search/delPost/{{ item.id }}">
                        <i class="fas fa-trash-alt text-primary"></i><span>Supprimer</span></a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="card-body">
            <p class="card-text text-justify">{{ item.text_annoucement | raw }}</p>
        </div>
        <div class="card-footer text-muted">
            <a href="#!" class="btn btn-dark">Intéressé</a>
            <br/>
            Type d'annonce : {{ item.catname | capitalize}}
            <br/>
            Nombres de personnes demandés
            {% if item.nbmin == item.nbmax %}
                Max <strong>{{ item.nbmax }}</strong>
            {% else %}
                Min <strong>{{ item.nbmin }}</strong> | Max <strong>{{ item.nbmax }}</strong>
            {% endif %}
        </div>
    </div>
{% endblock %}