{% extends 'layout.html.twig' %}

{% block content %}
    <div class="card text-center row-2">
        <div class="card-header row justify-content-center">
            <div class="">
                <h4 class="card-title">{{ item.title }}
                    <small>
                        proposé par :
                        <a href="/profile/profile/{{ item.id }}">{{ item.login }}</a>
                    </small>
                </h4>
                <h5 class="card-title">Le {{ item.start_day }} de {{ item.start_hour }} à {{ item.end_hour }}</h5>
            </div>
            <div class="font-icon-example offset-3">
                <div class="item">
                    <a href="/signal/signalpost/{{ item.id }}">
                        <i class="fas fa-exclamation text-danger"></i><span>Signaler</span></a>
                </div>
                {% if session['Auth'].admin == 1 %}
                    <div class="item">
                        <a href="/Search/editPost/{{ item.id }}">
                            <i class="fas fa-edit text-primary"></i><span>Éditer</span></a>
                    </div>
                    <div class="item">
                        <a href="/Search/delPost/{{ item.id }}">
                            <i class="fas fa-trash-alt text-primary"></i><span>Supprimer</span></a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="card-body">
            <p class="card-text text-justify">{{ item.text_annoucement | raw }}</p>
        </div>
        <div class="card-footer text-muted">
            <div id="form">
                {# Corriger la 1ère condition qui suit #}
                {% if not item.id == author %}
                    {% if participation > 0 %}
                        <div class="button">
                            <input type="submit" value="Annuler ma participation">
                            <div style="clear:both"></div>
                        </div>
                    {% else %}
                        {% if (nb_reponses.reponse | number_format) < item.nbmax %}
                            <div class="button">
                                <input type="submit" value="Je participe">
                                <div style="clear:both"></div>
                            </div>
                        {% else %}
                            <p>* Nombre maximum de participations déjà atteint *</p>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
            <br/>
            Nombres de helpers déjà inscrits : {{ nb_reponses.reponse }}
            <br/>
            Nombre de helpers demandé :
            {% if item.nbmin == item.nbmax %}
                <strong>{{ item.nbmax }}</strong> au maximum
            {% else %}
                entre <strong>{{ item.nbmin }}</strong> et <strong>{{ item.nbmax }}</strong>
            {% endif %}
            <br/>
            Type d'annonce : {{ item.catname | capitalize }}
        </div>
    </div>
{% endblock %}