{% extends 'layout.html.twig' %}

{% block content %}
    <table id="myTable" class="display" style="width:100%; background: whitesmoke">
        <thead>
        <tr>
            {% if session['Auth'].admin == 1 %}
            <td colspan="7">
                {% else %}
            <td colspan="6">
                {% endif %}
                <a href="/Search/addPost" class="btn btn-primary text-center offset-5">Créer une annonce</a>
            </td>

        </tr>
        <tr>
            <th>Titre</th>
            <th>Date</th>
            <th>Heure de début</th>
            <th>Heure de fin</th>
            <th>Annonceur</th>
        {% if session['Auth'].admin == 1 %}
            <th>Éditer/Suppr.</th>
        {% endif %}
        </tr>
        </thead>
        <tbody style="background: #7597ff">
        {% for searchid in search %}
            <tr>
                <td ><a href="/Search/Posts/{{ searchid.post_id }}" class="badge badge-warning"> {{ searchid.title }}</a></td>
                <td >{{ searchid.start_day }}</td>
                <td >{{ searchid.start_hour }}</td>
                <td >{{ searchid.end_hour }}</td>
                <td ><a href="/profile/profile/{{ searchid.id }}" class="badge badge-warning">{{ searchid.login }}</a></td>
                {% if session['Auth'].admin == 1 %}
                <td class="text-center" ><a href="/Search/editPost/{{ searchid.post_id }}" class="far fa-edit"></a>&nbsp;<a href="/Search/delPost/{{ searchid.post_id }}" class="far fa-trash-alt"></a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascript %}
<script>
$(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>
{% endblock %}
