{% extends 'layout.html.twig' %}

{% block content %}
    <table id="myTable" class="display" style="width:100%; background: whitesmoke">
        <thead>
        <tr>
            <td colspan="6">
                <a href="/Search/addPost" class="btn btn-primary text-center offset-5">Créer une annonce</a>
            </td>
        </tr>
        <tr>
            <th>Titre</th>
            <th>Date</th>
            <th>Heure de début</th>
            <th>Heure de fin</th>
            <th>Annonceur</th>
        </tr>
        </thead>
        <tbody style="background: #7597ff">
        {% for searchid in search %}
            <tr class="table-primary">
                <td style="background: whitesmoke"><a href="/Search/Posts/{{ searchid.id }}" class="badge badge-warning"> {{ searchid.title }}</a></td>
                <td style="background: whitesmoke">{{ searchid.start_day }}</td>
                <td style="background: whitesmoke">{{ searchid.start_hour }}</td>
                <td style="background: whitesmoke">{{ searchid.end_hour }}</td>
                <td style="background: whitesmoke"><a href="/profile/profile/{{ searchid.id }}" class="badge badge-warning">{{ searchid.login }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascript %}
<script>
$(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>
{% endblock %}
