{% extends 'layout.html.twig' %}

{% block content %}
    <table>
        {% for searchid in results %}
            <tr>
                <td>{{ searchid.title }}</td>
                <td>{{ searchid.start_hour }}</td>
                <td>{{ searchid.end_hour }}</td>
                <td>{{ searchid.date_publication }} </td>
                <td>{{ searchid.text_annoucement }}</td>
            </tr>
        {% endfor %}
    </table>
<form method="post" action="{{ SearchController }}">
<input type="text" value="" name="targ" style="border: solid 1px black;" placeholder="Entrer une date type(YY-MM-DD)">
<input type="submit" value="search">
</form>

    <table>
        {% for searchid in search %}
            <tr>
                <td>{{ searchid.title }}</td>
                <td>{{ searchid.start_hour }}</td>
                <td>{{ searchid.end_hour }}</td>
                <td>{{ searchid.date_publication }} </td>
                <td>{{ searchid.text_annoucement }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}