{% extends 'layout.html.twig' %}
{% block title %}Gestion des articles{% endblock %}
{% block content %}
<div class="mt-4"></div>
{% if session['Auth'].admin == 1 %}
    <table id="myTable" class="display mt-4 offset-md-1 col-md-10 col-12 my-2" style="width:100%; background: whitesmoke">
        <thead>
        <tr>
            <th>id</th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Date de Publication</th>
            <th>Catégorie</th>
            <th>Créé le</th>
            <th>Premiers mots</th>
            <th>Éditer/Suppr.</th>
        </tr>
        </thead>
        <tbody>
        {% for blog in blogs %}
            <tr>
                <td>{{ blog.artid }}</td>
                <td><a href="/Blog/article/{{ blog.artid }}">{{ blog.title }}</a></td>
                <td>{{ blog.login }}</td>
                <td>{{ blog.date_publication }}</td>
                <td>{{ blog.catid }}</td>
                <td>{{ blog.date_creation }}</td>
                <td>{{ blog.bodytext | slice(0,30) | raw }} …</td>
                <td><a href="/Blog/editArticle/{{ blog.artid }}" class="far fa-edit"></a>&nbsp;<a href="/Blog/delArticle/{{ blog.artid }}" class="far fa-trash-alt"></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %}

{% block javascript %}
<script>
$(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>
{% endblock %}
