{% extends 'layout.html.twig' %}

{% block title %}
Inscription
{% endblock %}

{% block content %}
<script>

</script>
    <div class="signup" id="signup" style="display: block;">
        <h1 class="h3 text-center mt-2">Formulaire d'inscription</h1>
        <form class="Session_form text-center border border-light p-4 col-4 offset-4" target="" method="POST">
                <div>
                    <p>Vous devez être majeur et habiter Strasbourg<br/>
                        pour vous inscrire.</p>
                    <fieldset class="mt-2">
                        {% if errors.dateOfBirth != "" %}
                            <h5 class="h6 text-danger">{{ errors.dateOfBirth }}</h5>
                        {% endif %}
                        <div class="form-row">
                            <div class="form-group col-md-3 offset-1">
                                <label for="dayOfBirth">Jour</label><br/>
                                <input class="form-control text-center" type="number" id="dayOfBirth" name="dayOfBirth" pattern="[0-9]{2}" minlength="1" maxlength="2" max="31" placeholder="jj" value="{{ dayOfBirth }}" required>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="monthOfBirth">Mois</label><br/>
                                <input class="form-control text-center" type="number" id="monthOfBirth" name="monthOfBirth" pattern="[0-9]{2}" minlength="1" maxlength="2" max="12" placeholder="mm" value="{{ monthOfBirth }}" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="yearOfBirth">Année</label><br/>
                                <input class="form-control text-center" type="number" id="yearOfBirth" name="yearOfBirth" pattern="^[0-9]*$" minlength="4" maxlength="4"  min="1920" max="2025" placeholder="aaaa" value="{{ yearOfBirth }}" required>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="cachee" style="display: {{ display2 }}">
                    <div>
                        <input type="hidden" name="MAX_FILE_SIZE" value="2000000" />
                        <img class="profilPic" src="/assets/images/profil.png" alt="profilpic">
                        <input type="hidden" name="avatar" value="/assets/images/profil.png">
                    </div>

                    <div class="mt-2">
                        {% if errors.login != "" %}
                            <h5 class="h6 text-danger">{{ errors.login }}</h5>
                        {% endif %}
                        <label for="login">Choississez un login</label><br/>
                        <input class="form-control" type="text" id="login"  name="login" value="{{ login }}" placeholder="login" required>
                    </div>
                    <div class="mt-2">
                        {% if errors.email != "" %}
                            <h5 class="h6 text-danger">{{ errors.email }}</h5>
                        {% endif %}
                        <label for="email">Votre e-mail</label><br/>
                        <input class="form-control" type="email" id="email"  name="email" value="{{ email }}" placeholder="monadresse@site.com"required>
                    </div>
                    <div class="mt-2">
                        <label for="emailConf">Confirmez votre e-mail</label><br/>
                        <input class="form-control" type="email" id="emailConf"  name="emailConf" value="{{ emailConf }}" placeholder="monadresse@site.com" required>
                    </div>
                    <div class="mt-2">
                        <label for="password">Saississez un mot de passe</label><br/>
                        <input class="form-control" type="password" id="password"  name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" value="{{ password }}" placeholder="mot de passe" required>
                        <input class="form-control mt-2" type="password" id="passwordConf"  name="passwordConf" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" value="{{ passwordConf }}" placeholder="Confirmez votre mot de passe" required>
                    </div>
                    <fieldset>
                        <div class="form-row mt-2">
                            <div class="form-group col-6">
                                {% if errors.lastname != "" %}
                                    <h5 class="h6 text-danger">{{ errors.lastname }}</h5>
                                {% endif %}
                                <label for="lastname">Nom</label><br/>
                                <input class="form-control" type="text" id="lastname"  name="lastname" value="{{ lastname }}" placeholder="Nom de famille" required>
                            </div>
                            <div class="form-group col-6">
                                {% if errors.firstname != "" %}
                                    <h5 class="h6 text-danger">{{ errors.firstname }}</h5>
                                {% endif %}
                                <label for="firstname">Prénom</label><br/>
                                <input class="form-control" type="text" id="firstname"  name="firstname" value="{{ firstname }}" placeholder="Prénom" required>
                            </div>
                        </div>

                        <div class="mt-2">
                            {% if errors.adresse_1 != "" %}
                                <h5 class="h6 text-danger">{{ errors.adresse_1 }}</h5>
                            {% endif %}
                            <label for="adresse_1">Adresse</label><br/>
                            <input class="form-control" type="text" id="adresse_1" name="adresse_1" value="{{ adresse_1 }}" required  />
                        </div>
                        <div class="mt-2">
                            <label for="adresse_2">Adresse complément <i>(optionnel)</i></label><br/>
                            <input class="form-control" type="text" id="adresse_2" name="adresse_2" value="{{ adresse_2 }}"/>
                        </div>

                        <div class="form-row mt-2">

                            {% if errors.zipcode != "" %}
                                <div>
                                    <h5 class="h6 text-danger">{{ errors.zipcode }}</h5>
                                </div>
                            {% endif %}
                            <div class="form-group col-3">
                                <label for="zipcode">C.P.</label><br/>
                                <input class="form-control" type="text" id="zipcode" name="zipcode" pattern="[0-9]{5}" minlength="5" maxlength="5" value="{{ zipcode }}" required/>
                            </div>
                            <div class="form-group col-9">
                                <label for="city">Ville</label><br/>
                                <input class="form-control" type="text" id="city" name="city" value="STRASBOURG" required>
                            </div>
                        </div>
                        <div>
                            {% if errors.phone != "" %}
                                <h5 class="h6 text-danger">{{ errors.phone }}</h5>
                            {% endif %}
                            <label for="phone">Téléphone <i>(fixe ou portable)</i></label><br/>
                            <input class="form-control text-center" type="text" id="phone" name="phone" pattern="(01|02|03|04|05|06|07|08|09)[ \.\-\/]?[0-9]{2}[ \.\-\/]?[0-9]{2}[ \.\-\/]?[0-9]{2}[ \.\-\/]?[0-9]{2}" minlength="10" maxlength="10" placeholder="0612345678" value="{{ phone }}"  required>
                        </div>

                        <div class="mt-4">
                            {% if errors.dateOfBirth != "" %}
                                <h5 class="h6 text-danger">{{ errors.dateOfBirth }}</h5>
                            {% endif %}
                            <label for="description">Description</label>
                            <textarea class="form-control" name="description" id="description" rows="5" placeholder="Parlez de vous...">{{ description }}</textarea>
                        </div>
                    </fieldset>
                    <div  class="button my-2">
                        <button class="btn btn-info btn-block mb-2" type="submit">Envoyer</button>
                    </div>
                </div>

                <div class="cachee" style="display: {{ display1 }}">
                    <div class="form-group col-10 offset-1">
                        <label for="zipcode">Votre code postal</label><br/>
                        <input class="form-control text-center" type="number" id="zipcode2" name="zipcode2" pattern="[0-9]{5}" minlength="5" maxlength="5" value="{{ zipcode }}" required>
                    </div>
                    <div  class="button">
                        <button type="button" class="btn btn-info btn-block col-6 offset-3 mb-2" onmouseup="toggleInscription('cachee')">Suivant</button>
                    </div>
                </div>

        </form>
    </div>

{% endblock %}